body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
  }
  
  .banner{
    background-image: url(allpics/banner/1st\ page.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    }
  
    .oleo-script-swash-caps-regular {
        font-family: "Oleo Script Swash Caps", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 550%;
      }
      
      .oleo-script-swash-caps-bold {
        font-family: "Oleo Script Swash Caps", system-ui;
        font-weight: 700;
        font-style: normal;
      }
      
  .overlay{
    background-color: rgba(0, 0, 0, 0.384);
    height: 100vh;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
  
  
  
  
  .flexbah{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .flex2{
    display: flex;
    gap: 20px;
    padding-top: 20px;
  }
  .flex1{
    width: 10px;
  }
  li{
    list-style: none;
    font-size: 20px;
    font-weight: 400;
   
    
  }
  
  li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }
  
  
  
  li a:hover{
  color: rgba(3, 70, 3, 0.575) ;
  }
  
  .flexcont2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 50px;
  }
  
  .in1{
    width: 260px;
    height: 405px;
  }
  .in2{
    width: 240px;
    height: 190px;
    object-fit: cover;
    
  }
  .in3{
    width: 240px;
    height: 190px;
    object-fit: cover;
    margin-top: 25px;
    
  }
  #read{
    border-radius: 100px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(218, 13, 13);
    margin-top: 30px;
  
  }
  .in4{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .abt{
    font-family: "Oleo Script Swash Caps", system-ui;
    font-weight: 700;
    font-style: normal; 
  }
  .pt{
    color: rgba(0, 0, 0, 0.603);
    padding-left: 60px;
    padding-right: 60px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    background: white;
    border-radius: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 2px;
    padding: 20px;
    width: 270px;
  
   
  }
  
  .card img {
   
   width: 100%;
   margin: 0px;
   padding: 0px;
   
   
    
   
  }
  
  .card h4 {
    margin: 10px 0;
    
  }
  
  .card p {
    color: #555;
  }
  
  .stars {
    color: rgb(184, 35, 35);
    font-size: 30px;
    font-weight: bolder;
    
  }
  .card button{
    width: 100px;
    border-radius: 80px;
    background-color: pink;
    padding-left: 10px;
    color: rgb(179, 33, 33);
    font-size: 15px;
    border: none;
    
  }
  
  .lastsection{
    background-image: url(allpics/pics6/Frame\ 9\ \(3\).png);
  }
  /*# sourceMappingURL=style.css.map */